<div >
  <h3>register-vehicle works!</h3>

    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="vehicle.licensePlate" placeholder="License plate"/>
      </mat-form-field>
    </div>  

  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="vehicle.displacement" placeholder="Displacement"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
    <mat-select  [(ngModel)]="vehicle.type" name="vehicleType" id="selVehicleType">
      <mat-option value="CAR">car</mat-option>
      <mat-option value=" MOTORCYCLE">Motorcycle</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <button mat-raised-button (click)="registerVehicle(vehicle)">Register Vehicle</button>


</div>